<nav class="navbar">

  <h1 class="logo">Infrrd Meeting Rooms</h1>

  <ul class="main-nav" id="js-menu">
    <li>
      <a class="nav-links"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Book</a>
    </li>
    <li >
      <a href="#" class="nav-links" routerLinkActive="active" routerLink="/bookings">Bookings</a>
    </li>
    <li >
      <a href="#" class="nav-links" routerLinkActive="active" routerLink="/availability">Availability</a>
    </li>

  </ul>
</nav>
