$primary-color: #5264ae;
$gray-color: #757575;

.room-selector {
  width: 70vw;
  min-width: 300px;
  padding: 0.5rem;
  color: $gray-color;
  margin: 1rem auto 0rem auto;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  .btn {
    margin-left: 10%;
    height: 60%;
    padding: 0;
  }
}

