/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
$primary-color: #5264ae;
$gray-color: #757575;

form {
  padding: 2rem 0.5rem 1rem 0.5rem;
}

// /* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 1.8rem;
}
input,
select {
  color: darken($color: $gray-color, $amount: 10%);
  background-color: transparent;
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid $gray-color;

  &:focus {
    outline: none;
  }
}

// /* LABEL ======================================= */
label {
  color: $gray-color;
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

// /* active state */
input,
select {
  &:focus,
  &:valid {
    ~ {
      label {
        top: -1.1rem;
        font-size: 0.9rem;
        color: $primary-color;
      }
    }
  }
}

// /* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;

  &:before,
  &:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $primary-color;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
}

input:focus,
select:focus {
  ~ {
    .bar:before,
    .bar:after {
      width: 50%;
    }
  }
}

// /* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 25%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

// /* active state */
input:focus ~ .highlight,
select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

// /* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: $primary-color;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: $primary-color;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: $primary-color;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.btn {
  font-weight: 400;
  letter-spacing: 1px;
  outline: none;
  border: none;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: $primary-color;
  border-radius: 50px;
  transition: all 0.2s;

  &:hover {
    background-color: darken($color: $primary-color, $amount: 5%);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
    // transform: translateY(-2px);
  }

  &:active {
    background-color: darken($color: $primary-color, $amount: 5%);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
    transform: translatey(-1px);
  }
  &:disabled {
    transition: none;
    background-color: lighten($primary-color, 10%);
    &:hover,
    &:active {
      transform: translateY(0);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
  }
}

.table {
  max-height: 77vh;
  overflow-y: scroll;
  width: 70vw;
  min-width: 300px;
  padding: 0.5rem;
  color: $gray-color;
  margin: 0.5rem auto;
  border: 1px solid lighten($gray-color, 20%);
  border-collapse: collapse;

  & td,
  & th {
    padding: 12px 15px;
    /* border: 1px solid #ddd; */
    text-align: center;
    font-size: 16px;
  }

  & th {
    background-color: $primary-color;
    color: #ffffff;
    text-transform: uppercase;
  }

  & tbody tr {
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
    & td img {
      width: 15px;
      height: auto;
      filter: invert(12%) sepia(87%) saturate(7063%) hue-rotate(360deg)
        brightness(99%) contrast(104%);
      transition: all 0.5 s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

/*responsive*/

@media screen and (max-width: 480px) {
  .room-selector {
    grid-template-columns: 1fr;

    .btn {
      width: 100%;
      margin: unset;
      height: 100%;
      padding: 0.7rem 1.5rem;
    }
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table {
    height: unset;

    & thead {
      display: none;
    }

    & tr {
      margin-bottom: 15px;
      & td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
        &::before {
          content: attr(label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-size: 15px;
          font-weight: bold;
          text-align: left;
          color: $gray-color;
        }
      }
    }
  }
}
